/* ===== БАЗОВЫЕ СТИЛИ ===== */

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  color: white;
  font-weight: normal;
  font-size: 16px;
  font-family: 'Inter', 'Avenir', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.5;
  background-color: black;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

body {
  max-inline-size: 1200px;
  min-block-size: 100vh;
  margin: 0 auto;
  padding: 40px 10%;
}

/* ===== ТИПОГРАФИЯ ===== */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* ===== СПИСКИ ===== */

ul,
ol {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  max-block-size: 100vh;
  margin-block-start: 40px;
  padding: 0;
  list-style: none;
}

li {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

/* ===== ФОРМА ===== */

form {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  block-size: 50px;
  column-gap: 10px;
}

form > input {
  flex-grow: 2;
  padding-left: 10px;
  border-radius: 5px;
}

form > button {
  min-inline-size: 180px;
  font-weight: bold;
}

/* ===== КАРТОЧКА ЗАДАЧИ ===== */

article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  inline-size: 100%;
  block-size: 60px;
  padding: 0 20px;
  border: 2px solid gray;
  border-radius: 5px;
}

article span {
  color: white;
  font-weight: bold;
}
